<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %>
</head>

<body>
<%- include ('../partials/nav') %>
<script type="text/javascript" src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight-all.min.js"></script>
<section class="container py-5" >
    <div class="d-flex flex-column px-5 mx-5 my-5">
        <h2><%= post.title %></h2>
        <div class="d-flex mt-3">
            <div class="py-2 me-auto">
                <span><%= post.author.nickname %></span><span> · </span><span><%= post.createdAt %></span>
            </div>
            <div class="py-2">
                <img id="unlike"  src="/img/unheart.png" style="width: 20px;" alt="unlike" onclick="Like();">
                <img id="like"  src="/img/heart.png" style="width: 20px; display: none;" alt="like" onclick="unLike();">
                <img id="unscrap" src="/img/unstar.png" class="ms-2" style="width: 20px;" alt="unscrap" onclick="Scrap();">
                <img id="scrap" src="/img/star.png" class="ms-2" style="width: 20px;display: none;" alt="scrap" onclick="unScrap();">
            </div>
        </div>
        <br>
        <br>
        <div id="viewer">
            <%= post.content %>
        </div>
        <div class="d-flex my-5 py-3 align-items-center">
            <a href="/user/<%= post.author.id%>" class="text-decoration-none text-dark">
            <% if(post.author.profile.image){ %>
            <img src="/img/logo.png" style="width:150px; height:150px;" alt="profile" class="rounded-circle">
            <% }else{ %>
            <img src="/img/logo.png"  style="width:150px; height:150px;" alt="profile" class="rounded-circle">
            <% } %>
            <span class="h3 px-3">
                <%= post.author.nickname %>
            </span>
            </a>
        </div>
        <% if(isAuthenticated&&post.authorId==currentUser.id) {%>
        <div class="d-flex flex-row justify-content-end">
            <button onclick = "location.href = '/post/id'">하이</button><button>바이</button>
        </div>
        <% } %>
        <hr>
        <div class="d-flex flex-column comment-group my-5">
            <h4>
                <%= post.comment.length %>개의 댓글이 있습니다.
            </h4>
            <% if(isAuthenticated){ %>
            <form action="/comment"  id="form" method="post" enctype="applicaion/json">
                <input type="text" class="form-control my-3 py-3 h3" placeholder="댓글을 작성해주세요" name="content" aria-label="Username" aria-describedby="basic-addon1">
                <input type="hidden" name="postId" value="<%= post.id %>">
                <button type="submit" classs="btn btn-success ms-auto">댓글 작성</button>
            </form>
            <% } else { %>
                <h4>댓글은 로그인 후 작성 가능합니다.</h4>
            <% } %>
            
            <% post.comment.forEach(function(element,index){ %>
            <div class="d-flex flex-column my-3 py-3">
                <div class="d-flex">
                    <img src="/img/logo.png" style="width:100px; height:100px;" alt="profile" class="rounded-circle">
                    <div class="d-flex flex-column justify-content-center">
                        <span class="h6 px-3"><%= element.author.nickname %></span>
                        <span class="h6 px-3 text-light ms-auto"><%= element.createdAt %></span>
                    </div>
                </div>
                <p class="my-2 px-4" >
                    <%= element.content %>
                </p>
                <hr>
            </div>
            <% }) %>
        </div>
    </div>
</section>

<!-- Start Footer -->
<%- include ('../partials/footer') %>
<!-- End Footer -->


<script>
    const { Editor } = toastui;

    const viewer = new Editor.factory({
        el: document.querySelector('#viewer'),
        viewer: true,
        height: '75vh',
        initialValue: content
    });

    const Like = () => {
        let unlike = document.getElementById("unlike");
        let like =document.getElementById("like");
        unlike.style.display='none';
        like.style.display='inline';
    }
    const unLike = () => {
        let unlike = document.getElementById("unlike");
        let like =document.getElementById("like");
        unlike.style.display='inline';
        like.style.display='none';
    }

    const Scrap = () => {
        let unscrap = document.getElementById("unscrap");
        let scrap =document.getElementById("scrap");
        unscrap.style.display='none';
        scrap.style.display='inline';
    }

    const unScrap = () => {
        let unscrap = document.getElementById("unscrap");
        let scrap =document.getElementById("scrap");
        unscrap.style.display='inline';
        scrap.style.display='none';
    }
</script>
<!-- End Script -->

<!-- Start Script -->
<script src="/js/jquery-1.11.0.min.js" th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script src="/js/jquery-migrate-1.2.1.min.js" th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script src="/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="/js/templatemo.js" th:src="@{/js/templatemo.js}"></script>
<script src="/js/custom.js" th:src="@{/js/custom.js}"></script>

<!-- End Script -->
</body>

</html>
